{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Alex{% endblock %}
{% block page_content %}
    <div class="page-header">
        <form action=/otv method="get">
            {% for i in range(ind) %}
            <p>{{ i }}   <input name={{ i }} type="text"/></p>
            {% endfor %}
            <p>size   <input name="siz" type="text" value={{ ind }} /></p>
            <p>v   <input name="v" type="text"/></p>
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock %}